.swiper-container.lock {
    opacity: 0;
}

.swiper-container {
    opacity: 1;
}

.image-slider {
    padding: 30px 0px 70px 0px;
    overflow: hidden;
}

.image-slider-cards {
    overflow: hidden;
}

.image-slider {
    display: flex;
    align-items: center;
}

.image-slider__image {
    text-align: center;
}

.image-slider__image picture, .image-slider__image img {
    max-width: 100%;
}

.slider__button_custom {
    width: 48px;
    height: 48px;
    top: unset;
    border: 1px solid #000000;
    border-radius: 100%;
    color: #000000;
}

.slider__button_custom:hover {
    color: #fff;
    background-color: #F63765;
    border: #F63765;
}


.slider__button_custom:active {
    color: #fff;
    background-color: #AD0E35;
    border: #AD0E35;
}


.slider__button_custom:after {
    font-size: 14px;
}